<h1>ngx-tabset</h1>

<div class="container">
  <section>
    <div class="section-container">
      <h2>Animated tabset with custom nav class and custom tabs class</h2>

      <ngx-tabset customNavClass="nav-test-class"
                  customTabsClass="container">
        <ngx-tab tabTitle="About me">
          Its all about me.
        </ngx-tab>
        <ngx-tab tabTitle="Contacts">
          This is content of the contacts tab
        </ngx-tab>
        <ngx-tab tabTitle="Map"
                 [disabled]="true">
          Content of the Map Tab
        </ngx-tab>
      </ngx-tabset>
    </div>
  </section>


  <section>
    <div class="section-container">
      <h2>Simple Tabset without animation</h2>

      <ngx-tabset [animate]="false">
        <ngx-tab tabTitle="About me">
          Its all about me.
        </ngx-tab>
        <ngx-tab tabTitle="Contacts">
          This is content of the contacts tab
        </ngx-tab>
        <ngx-tab tabTitle="Map"
                 [disabled]="true">
          Content of the Map Tab
        </ngx-tab>
      </ngx-tabset>
    </div>
  </section>


  <section>
    <div class="section-container">
      <h2>Tabset without animation and default style</h2>

      <ngx-tabset [animate]="false"
                  [disableStyle]="true">
        <ngx-tab tabTitle="About me">
          Its all about me.
        </ngx-tab>
        <ngx-tab tabTitle="Contacts">
          This is content of the contacts tab
        </ngx-tab>
        <ngx-tab tabTitle="Map"
                 [disabled]="true">
          Content of the Map Tab
        </ngx-tab>
      </ngx-tabset>
    </div>
  </section>

</div>

<footer class="footer">
  Demo using Angular {{version}}
  <br> Released under the
  <a href="https://github.com/biig-io/ngx-tabset/blob/master/LICENSE">MIT</a> license.
  <a href="https://github.com/biig-io/ngx-tabset">View source</a>.
</footer>
