h1 {
  text-align: center;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;

  section {
    flex: 1;
    width: 100%;
    background: white;
    border-radius: 3px;
    height: auto;
    min-height: 200px;
    margin: 0 20px;

    .section-container {
      margin: 20px;
    }
  }
}

.footer {
  font-weight: 400;
  line-height: 2;
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 991px) {
  .container {
    flex-direction: column;

    section {
      margin: 20px 0;
    }
  }
}
