<h1>ngx-tabset</h1>

<div class="container">
  <section>
    <div class="section-container">
      <h2>Tabs with default style</h2>

      <ngx-tabset customNavClass="nav-test-class" customTabsClass="container">
        <ngx-tab tabTitle="About me" tabSubTitle="a little subtitle">
          Its all about me.
        </ngx-tab>
        <ngx-tab tabTitle="Contacts" tabSubTitle="my contacts" [bypassDOM]="true">
          <ng-template>
            This is content of the contacts tab
          </ng-template>
        </ngx-tab>
        <ngx-tab tabTitle="Map" tabSubTitle="i'm disabled" [disabled]="true">
          Content of the Map Tab
        </ngx-tab>
      </ngx-tabset>
    </div>
  </section>


  <section>
    <div class="section-container">
      <h2>Tabs with selected tab and <code>onSelect</code> event</h2>

      <ngx-tabset (onSelect)="tabSelected($event)">
        <ngx-tab tabTitle="About me" [bypassDOM]="true">
          <ng-template>
            <app-my-component></app-my-component>
          </ng-template>
        </ngx-tab>
        <ngx-tab tabTitle="Contacts" [bypassDOM]="true" [active]="true">
          <ng-template>
            <app-my-other-component></app-my-other-component>
            <p>Watch your console, <u>events are logged</u>!</p>
          </ng-template>
        </ngx-tab>
        <ngx-tab tabTitle="Map" [bypassDOM]="true" [disabled]="true">
          <ng-template>
            Content of the Map Tab
          </ng-template>
        </ngx-tab>
      </ngx-tabset>
    </div>
  </section>


  <section>
    <div class="section-container">
      <h2>Tabset without style</h2>

      <ngx-tabset [disableStyle]="true">
        <ngx-tab tabTitle="About me">
          Its all about me.
        </ngx-tab>
        <ngx-tab tabTitle="Contacts">
          This is content of the contacts tab
        </ngx-tab>
        <ngx-tab tabTitle="Map" [disabled]="true">
          Content of the Map Tab
        </ngx-tab>
      </ngx-tabset>
    </div>
  </section>

</div>

<footer class="footer">
  Demo using Angular {{version}}
  <br> Released under the
  <a href="https://maximelafarie.com/ngx-tabset/blob/master/LICENSE">MIT</a> license.
  <a href="https://maximelafarie.com/ngx-tabset">View source</a>.
</footer>