@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "ngx-tabset/src/ngx-tabset";

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f39c12;
}

ngx-tab:not(.active) {
  opacity: 0;
}
